@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

body {
margin:0;
padding:0;
font-family: 'Roboto Slab', serif;
background-color:black
}

.form{
width:70%;
margin:4% 15%;
}
header{
background-color: rgb(26, 200, 212);
text-align: center;
padding-top: 12px;
padding-bottom: 8px;
margin-top: -11px;
margin-bottom: -8px;
border-radius: 10px 10px 0 0;
color: aliceblue;
}
footer{
    background-color: #4180C5;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 12px;
    margin-top: -8px;
    margin-bottom: -11px;
    border-radius: 0px 0px 10px 10px;
    color: aliceblue;
    }
/* Makes responsive fields. Sets size and field alignment.*/
input[type=text]{
margin-bottom: 20px;
margin-top: 10px;
width:100%;
padding: 15px;
border-radius:5px;
border:1px solid #7ac9b7;
}
input[type=submit]
{
margin-bottom: 20px;
width:100%;
padding: 15px;
border-radius:5px;
border:1px solid #7ac9b7;
background-color: #4180C5;
color: aliceblue;
font-size:15px;
cursor:pointer;
}
#submit:hover
{
background-color: black;
}
textarea{
width:100%;
padding: 15px;
margin-top: 10px;
border:1px solid #7ac9b7;
border-radius:5px;
margin-bottom: 20px;
resize:none;
}
input[type=text]:focus,textarea:focus {
border-color: #4697e4;
}
.list{
margin-bottom: 20px;
margin-top: 10px;
width:100%;
padding: 15px;
border-radius:5px;
border:1px solid #7ac9b7;
}